.container{
    color: #63ACBB;
    width: 100%;
    margin: 0px 50px;
    align-items: center;

    border-radius: 10px;
    border: 15px solid #63ACBB;
    margin-top: 100px;
    
    
    
}

h1{
    text-align: center;
    font-weight: 600;
    margin-top: 50px;


}


h2{
    text-align: center;
    margin:0px;
    font-weight: 500;
    
}

h3{
    margin: 20px;
    font-weight: 200;
}

h4{
    margin:50px;
    font-weight: 400;
}

/*/
Serve para trabalhar resposibilidade de tela
@media screen and (max-width:500px){
    body{
        
    }
}