.carrinhoPai {
    background-color: #104b57;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding:20px;
    width: 100%;
    align-self: center;
    margin-right: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
    
}

h1 {
    text-align: center;
    color: #63ACBB;
}
  
.carrinhoFilho {
    display: flex;
    flex-direction: column;
}
  
.carrinhoNeto1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
  
.carrinhoDescritivo1 {
    text-align: center;
    margin-bottom: 10px;
    color: #63ACBB;
}
  
.carrinhoDescritivo2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #0C1618;
}
  
.carrinhoDescritivo2 img {
    max-width: 100%;
    border-radius: 5px;
}
  
.carrinhoDescritivo2 h4 {
    flex-grow: 1;
    margin: 0 15px;
    color: #ddd;
}
  h5{
    color: #63ACBB;
    width: fit-content;
    padding: 15px;
    height: fit-content;
}

.carrinhoNeto2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
  
.carrinhoNeto2 h4 {
    margin-bottom: 10px;
}
  

.carrinhoDescritivo2 button{
    
    background-color: #63ACBB;
    color: #0C1618;
    width: 60px;
    
}

.AreaDeItens{
    align-self: flex-end;
}

.carrinhoNeto2 button{
    background-color: #63ACBB;
    color: #0C1618;
    
} 